# .gitignore

# 忽略所有原始影像資料
/data/train_images/*
/data/train_concatenated_pngs/*

# 忽略中間處理或模型
*.tiff
*.png
*.pt
*.pth

# Jupyter Notebook Checkpoint
.ipynb_checkpoints/

# VSCode / pycache
.vscode/
__pycache__/
/home/313551113/.ssh/id_ed25519_github

